# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/
.eggs/

# Virtual environments
.venv/
venv/
env/
ENV/
.env

# PyCharm
.idea/

# Distribution / packaging
*.whl
MANIFEST

# Unit test / coverage
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
htmlcov/
.pytest_cache/
.hypothesis/

# Jupyter
.ipynb_checkpoints

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyright
pyrightconfig.json

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log